<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vava.mybatis.mapper.EmployeeMapper">

    <!--
    namespace:指定为接口的全类名
     -->

    <resultMap id="employeeResult" type="com.vava.mybatis.bean.EmployeeRepo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_department_id" property="parentDepartmentId"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id="getEmployeeById" parameterType="Integer" resultType="com.vava.mybatis.bean.EmployeeRepo">
        select id, name lastName, gender, email from tbl_employee where id = #{id}
    </select>
    <insert id="addEmployee" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_employee (name, gender, email) VALUES (#{lastName}, #{gender}, #{email})
    </insert>
    <update id="updateEmployee">
        update tbl_employee set name = #{lastName}, gender = #{gender}, email = #{email} where id = #{id}
    </update>
    <delete id="delEmployeeById">
        delete from tbl_employee where id = #{id}
    </delete>

    <select id="getDepartmentEmployees" parameterType="Long" resultMap="employeeResult">
        select id, parent_department_id, name
        from tbl_employee
        where parent_department_id = #{id}
    </select>

</mapper>
